.home{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sad{
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}