<!--
<!DOCTYPE html>
<html>
  <head>
    <title>DATE WITH GRU HOMEPAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <div class="header">
    <h1>DATE WITH GRU SIMULATOR</h1>
    </div>
    <br>
    <p>
      
      <!-- PLAY BUTTON -->
  <!--   <div class="play">
       
     <button
        class="btn btn-warning"
        onclick="window.location.href = 'name'">
      
        PLAY
      </button>
       </div>

      <!-- ABOUT BUTTON -->
   <!--   <button
        class="btn btn-warning"
        onclick="window.location.href = 'about_page'">
      
        ABOUT
      </button>

      <img
        src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/ced565f1bb035b3445de68b86ab0dcad.jpg?v=1723745625005"
        alt="gru image"
        width="408"
        height="600">
      
    </p>
  </body>
</html>

'''

<!DOCTYPE html>
<html>
  <head>
    <title>DATE WITH GRU HOMEPAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  

  <body >
    <div class="header">
      <h1>DATE WITH GRU SIMLULATOR</h1>
    </div>
    <br>
    <p>
      
      <!-- PLAY BUTTON -->
  

<!DOCTYPE html>
<html>
  <head>
    <title>Schoolwiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  

  <body >
    <div class="title">
      <h1>Schoolwiz</h1>
    </div>
    <br>
    <p>
      
      <!-- PLAY BUTTON -->
       <div class="play">
       
     <button
        class="btn btn-warning btn-lg"
        onclick="window.location.href = 'question1'">
      
        Geography 
      </button>
       </div>


      <!-- ABOUT BUTTON -->
    <div class="about">
      
      <button
        class="btn btn-warning btn-lg"
        onclick="window.location.href = 'about_page'">
      
        ABOUT
      </button>
    </div>
<!--
      <img
        src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/ced565f1bb035b3445de68b86ab0dcad.jpg?v=1723745625005"
        alt="gru image"
        class ="center" 
        width="408"
        height="600">
    -->


    </p>
  </body>
</html>
