<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="bad_endingstyles.css">
      <title>Bad Ending</title> 
  </head>
  <body>
    <style>
		body { 
			background : url() #FFFF8F;
		}
	</style>
      <h1 style="color:black;text-align:center;">
        YOU LOSE</h1>
    <p style="color:black;text-align:center;">
      Gru hated you and left before the meal ended. 
      You were left with a bill of $316.58. 
    </p>
    <p>
      <div class = "home">
    
      <button
        onclick="window.location.href = '/'">
        Home
        <style>
          button{
            background-color: #ffff99;
            color: black;
            transition-duration: 0.4;
            border: 2px solid black;
            font-size:3em;
            border-radius: 8px;
            text-align: center;
            font-family: Times New Roman;
          }
          button:hover {
            background-color: black;
            color: #ffff99;          
          }
        </style>
      </button>
    </div>
    </p>
    <p>
      <div class = "sad">
      <img src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/3546401c88dbd432e07cff60690aa887.jpg?v=1723729505815" 
           alt="bad"
           width="400"
          height="400"
          >
         </div>
    </p>  
  </body>
</html>