<!DOCTYPE html>
<html>
    <head>
      <title>Good Ending</title>
      <link rel="stylesheet" href="good_endingstyles.css">
  </head>
  <body>
    <style>
		body { 
			background : url() #FFFF8F;
		}
	</style>
    <h1 style="color:black;text-align:center;">
      YOU WIN</h1>
    <p style="color:black;text-align:center;">
      Congratulations, your date was a success! 
      Gru really enjoyed getting to know and would love to go on another date with you.  
    </p>
     <p>
       <div class = "home">
      <button
        onclick="window.location.href = '/'">
        Home
        <style>
          button{
            background-color: #ffff99;
            color: black;
            transition-duration: 0.4;
            border: 2px solid black;
            font-size:3em;
            border-radius: 8px;
            text-align: center;
            font-family: Times New Roman;
          }
          button:hover {
            background-color: black;
            color: #ffff99;          
          }
        </style>
      </button>
      </div>
    </p>
    <p>
      <div class = "happy">
      <img src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/happy-pictures-9pfzxjvk3zmgvm8s.jpg?v=1723730023308" 
          alt="good"
          width="666"
          height="425"  
          >
      </div>
    </p>
  </body>
</html>