<!--
<!DOCTYPE html>
<html>
    <head>
      <title>Introduction</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylessheet" href="introstyle.css">
      
      
  </head>
  <body>
    <div class="head"> 
    <p>
      <title>Introduction</title>
      <link rel = "stylesheet" href = "static/introstyle.css">
    <div class="image">
      <img src="https://cdn.glitch.global/08999ff8-10a0-41b8-b47f-674efd911411/Map%20Skills%20(1).pdf?v=1732893633704" 
           alt="Dr.Nefario"
           width="432"
          height="576">
          </div>
      </p>
    <div class="button"> 
    <button
        class="btn btn-warning btn-lg"
        onclick="window.location.href = 'question1'">
        Continue
      </button>
      </div>
    
    </div>
  </body> 
</html>

-->