<!DOCTYPE html>
<html>
    <head>
      <title>Question 7: </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                  <link rel="stylesheet" href="static/question7Ystyle.css">

  </head>
  <body>
    <div class="body"> 
    <p>
      Wow…that’s the most romantic thing anyone has ever done for me…you really are a sweetheart. <br>
      By the way, I feel like I’ve been asking you questions all night, ask me one!!
      
    <!--YAY FORM-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value="How do you get your head so shiny?">
    </form>
    <br>
      <!--NAY FORM-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value= "Have you ever thought about wearing a wig?">
    </form>
    
     <img
        src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/gru%20date.png?v=1723767216798"
        alt="gru image"
        width="408"
        height="600">
      
    </p>
    </div>
  </body>
</html>