<!DOCTYPE html>
<html>
    <head>
      <title>Question 6: </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                  <link rel="stylesheet" href="static/question6Ystyle.css">

  </head>
  <body>
     <div class="body"> 
    <p>
      Ambitious…I like it. Wait a second…is that..my nemesis?? 
      <br> *Vector walks up to you* Vector: <br>
      Well, well, well. I thought this was a fine establishment, I didn't think they just let anyone in. 
      
    <!--YAY FORM-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value="* You take out your tranquiliser dart gun and shoot Vector *">
    </form>
    <br>
      <!--NAY FORM-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value= "Yeah, you're right. Why would they let you in, Vector?">
    </form>
      
     <img
        src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/gru%20date.png?v=1723767216798"
        alt="gru image"
        width="408"
        height="600">
    
    </p>
    </div>
  </body>
</html>