<!DOCTYPE html>
<html>
    <head>
      <title>Question 3: </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/question3Nstyle.css"> 

  </head>
  <body>
    <div class="body">   
    <p>
      
     <a href="question2N">Answer</a>
      
    <img src ="https://cdn.glitch.global/08999ff8-10a0-41b8-b47f-674efd911411/Map%20Skills.png?v=1732906261486"> 
      
      
      <!--YAY BUTTON-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value="Night owl, definitely. Nothing beats the view of the moon as I pour toxic waste into my neighbour's yard.">
    </form>
    <br>
      <!--NAY BUTTON-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value= "Early bird for sure. I love feeling superior to other people because I wake up at 5AM.">
    </form>

        <img
        src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/download%20(1).png?v=1723833864799"
        alt="gru image"
        width="408"
        height="600">
    
  
    
  
    </p>
    </div>
  </body>
</html>