<!DOCTYPE html>
<html>
    <head>
      <title>Question 7:</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                  <link rel="stylesheet" href="static/question7Nstyle.css">

  </head>
  <body>
    <div class="body"> 
    <p>
      Vector: *unfazed, walks away after spitting in your food* 
      <br> Gru: I think you need to work on your insult game. <br>
      By the way, I feel like I’ve been asking you questions all night, ask me one!!

    <!--YAY FORM-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value="How do you get your head so shiny?">
    </form>
    <br>
      <!--NAY FORM-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value= "Have you ever thought about wearing a wig?">
    </form>
      
    
     <img
        src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/download%20(1).png?v=1723833864799"
        alt="gru image"
        width="408"
        height="600">
    
    </p>
    </div>
  </body>
</html>