<!DOCTYPE html>
<html>
    <head>
      <title>Question 2: </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/question2Ystyle.css"> 
  </head>
  <body>
    <div class="body">  
    <p>
      Wow, that’s pretty evil… I love it!
      Moving on… what’s your favourite food?

<!--
      <!--YAY FORM-->
   <!-- <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value="I am a big fan of jelly and jams.">
    </form>
    <br>
      <!--NAY FORM-->
    <!--<form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value= "I am a fiend for cookies.">
    </form>
     --> 
      <!--form-->
      <form method="POST">
        <input type="submit" name="choice" class="btn btn-warning" value ="Answer.">"
      </form>
    
      
      <img
        src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/gru%20date.png?v=1723767216798"
        alt="gru image"
        width="1500"
        height="500">
    
  
    
  
    </p>
    </div>
  </body>
</html>