<!DOCTYPE html>
<html>
    <head>
      <title>Question 2: </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/question2Nstyle.css"> 
  </head>
  <body>
    <div class="body">    
    <p>
     
      
   <!--    <!--YAY FORM-->
 <!--   <form method="POST">
     <a href="question2">next</a>
      <input type="submit" name = "choice" class = "btn btn-warning" value="Next"> 
    </form> 
    <br> 
      
      
      
       <!-- PLAY BUTTON -->
       <div class="play">
       
     <button
        class="btn btn-warning btn-lg"
        onclick="window.location.href = 'question1'">
      
        Geography 
      </button>
       </div>

 <!--     <!--NAY FORM-->
  <!--  <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value= "I am a fiend for cookies.">
    </form>
      -->
      <img
        src="https://cdn.glitch.global/08999ff8-10a0-41b8-b47f-674efd911411/Screenshot%202024-11-29%20at%2010.56.21%E2%80%AFAM.png?v=1732895824517"
        alt="gru image"
        width="800"
        height="700">
    
  
    </p>
    </div>
  </body>
</html>