<!DOCTYPE html>
<html>
    <head>
      <title>Question 1: bullying kids?</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/question1style.css">
  </head>
  <body>
    <div class="body">
    <p>
      
      <!--YAY FORM-->
      <!--
    <form method="POST">
      <input type="submit" class = "btn btn-warning" name = "choice" value="I love scaring kids at the park and then stealing their candy.">
    </form>
    <br>
      <!--NAY FORM-->
<!--    <form method="POST">
      <input type="submit" class = "btn btn-warning" name = "choice" value="I love shoplifting from the local convenience store.">
    </form>
    --> 
      
      <!--Answerbutton-->
      <form method="POST">
      <a href="question1N">Answer</a>
        <input type="submit" class= "btn btn-warning" name = "choice"/>
      </form>
      <img
        src="https://cdn.glitch.global/08999ff8-10a0-41b8-b47f-674efd911411/Screenshot%202024-11-29%20at%2010.27.47%E2%80%AFAM.png?v=1732894092760"
        alt="question1"
        width="800" 
        height="700"/>

    </p>
    </div>
  </body>
</html>