<!DOCTYPE html>
<html>
    <head>
      <title>Question 3: </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/question3Ystyle.css">

  </head>
  <body>
     <div class="body"> 
    <p>
    Oh? You don’t say, I used to run a jelly and jams business. Quite successful I may add.. <br>
    So, are you an early bird or night owl?
      
      <!--YAY FORM-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value="Night owl, definitely. Nothing beats the view of the moon as I pour toxic waste into my neighbour's yard.">
    </form>
    <br>
      <!--NAY FORM-->
    <form method="POST">
      <input type="submit" name = "choice" class = "btn btn-warning" value= "Early bird for sure. I love feeling superior to other people because I wake up at 5AM.">
    </form>

          <img
        src="https://cdn.glitch.global/4525e3ab-3553-4987-8263-482c1b9ef2fa/gru%20date.png?v=1723767216798"
        alt="gru image"
        width="408"
        height="600">
    </p>
    </div>
  </body>
</html>